*.com
*.class
*.dll
*.exe
*.o
*.so
*.pyc
*.pyo
*.pyd


*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip


*.log
*.sql
*.sqlite
*.pkl
*.bak
*.npy
*.npz


.DS_Store?
ehthumbs.db
Icon?
Thumbs.db


.idea
.vscode

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

docs/build/


.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST
*.so
__pycache__/
*.py[cod]
*$py.class